.Todo {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: darkgray;
  cursor: pointer;
}

.Todo-completed {
  text-decoration: line-through;
  color: greenyellow;
  font-weight: bold;
}


.Todo-btn {
  margin-left: 10px;
}
